<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<img src="<%= @product.ref_pic %>">

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to "Back", products_path%>